<!-- <input type="text" (input)="onChangeInput($event)">
<p>{{thinh}}</p>
<input type="text" [(ngModel)]="example">
<p>{{example}}</p> -->
<!-- <button class="button btn button-primary" [disabled]="example ==''" (click)="example =''">Warning</button> -->

<!-- <button class="btn btn-danger" (click)="clickWhen()">Click Me Pleaseee</button> -->
<!-- <p *ngIf="textTest else noServer">Test server : {{serverTest}}</p>
<ng-template #noServer> -->
  <!-- <p
  [ngClass]='{notthinh: serverTest ==="notthinh"}'
  [ngStyle]='{backgroundColor: getColor()}'>{{serverTest}}</p> -->

<!-- </ng-template> -->


