<form action="">
  <table class="table table-bordered table-hover">
    <thead style="background-color: greenyellow;">
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trAr of trArr; let a = index;">
        <td *ngFor="let tdAr of tdArr; let i = index;">{{days[a * 7 + i]}}</td>
      </tr>
    </tbody>
    </table>
    <button class="btn btn-info" (click)="nextBackMonth('prev')">
        Pre
    </button>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" (dateChange)="changeMonth($event)" [(ngModel)]="newCurrentTime" [formControl]="monthPicker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" ></mat-datepicker>
    </mat-form-field>
    <button class="btn btn-info" (click)="nextBackMonth('next')">
      Next
    </button>
</form>
