<form action="" [formGroup]="formAddEmployee" (ngSubmit)="onclickFormEditEmployee(currentUser.id)">

<div class="all-border">
    <table class="table table-bordered table-hover">
      <thead style="background-color: blueviolet; color: white;">
        <tr>
          <th>Employee</th>
          <th>{{currentUser.employee_code}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>employee_code: </td>
          <td><input type="text" formControlName="employee_code" value="{{currentUser.employee_code}}" name="employee_code"> </td>
        </tr>
        <tr>
          <td>password: </td>
          <td><input type="text" formControlName="password" value="{{currentUser.password}}" name="password"> </td>
        </tr>
        <tr>
          <td>family_name: </td>
          <td><input type="text" formControlName="family_name" value="{{currentUser.family_name}}" name="family_name"> </td>
        </tr>
        <tr>
          <td>family_name_kana: </td>
          <td><input type="text" formControlName="family_name_kana" value="{{currentUser.family_name_kana}}" name="family_name_kana"> </td>
        </tr>
        <tr>
          <td>first_name: </td>
          <td><input type="text" formControlName="first_name" value="{{currentUser.first_name}}" name="first_name"> </td>
        </tr>
        <tr>
          <td>first_name_kana: </td>
          <td><input type="text" formControlName="first_name_kana" value="{{currentUser.first_name_kana}}" name="first_name_kana"> </td>
        </tr>
        <tr>
          <td>employeement_status: </td>
          <td><input type="text" formControlName="employeement_status" value="{{currentUser.employeement_status}}" name="employeement_status"> </td>
        </tr>
        <tr>
          <td>gender: </td>
          <td><input type="text" formControlName="gender" value="{{currentUser.gender}}" name="gender"> </td>
        </tr>
        <tr>
          <td>address: </td>
          <td><input type="text" formControlName="address" value="{{currentUser.address}}" name="address"> </td>
        </tr>
        <tr>
          <td>area_id: </td>
          <td><input type="text" formControlName="area_id" value="{{currentUser.area_id}}" name="area_id"> </td>
        </tr>
        <tr>
          <td>birthday: </td>
          <td><input type="text" formControlName="birthday" value="{{currentUser.birthday}}" name="birthday"> </td>
        </tr>
        <tr>
          <td>company_id: </td>
          <td><input type="text" formControlName="company_id" value="{{currentUser.company_id}}" name="company_id"> </td>
        </tr>
        <tr>
          <td>company_section_id: </td>
          <td><input type="text" formControlName="company_section_id" value="{{currentUser.company_section_id}}" name="company_section_id"> </td>
        </tr>
        <tr>
          <td>email: </td>
          <td><input type="text" formControlName="email" value="{{currentUser.email}}" name="email"> </td>
        </tr>
        <tr>
          <td>join_date: </td>
          <td><input type="text" formControlName="join_date" value="{{currentUser.join_date}}" name="join_date"> </td>
        </tr>
        <tr>
          <td>kengen_group_cd: </td>
          <td><input type="text" formControlName="kengen_group_cd" value="{{currentUser.kengen_group_cd}}" name="kengen_group_cd"> </td>
        </tr>
        <tr>
          <td>leaving_date: </td>
          <td><input type="text" formControlName="leaving_date" value="{{currentUser.leaving_date}}" name="leaving_date"> </td>
        </tr>
        <tr>
          <td>level: </td>
          <td><input type="text" formControlName="level" value="{{currentUser.level}}" name="level"> </td>
        </tr>
        <tr>
          <td>mobile_tel: </td>
          <td><input type="text" formControlName="mobile_tel" value="{{currentUser.mobile_tel}}" name="mobile_tel"> </td>
        </tr>
        <tr>
          <td>avatar: </td>
          <input type="file" (change)="handleFileInput($event)" #fileInput>
          <td><input type="hidden" formControlName="avatar_id" value="{{avatar_id}}" [(ngModel)]="avatar_id" name="avatar_id"> </td>
        </tr>
        <tr>
          <td>avatar :</td>
          <td>
            <img src="{{avatar_id}}" alt="" width="30%" height="10%">
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="text-center">
  <button class="btn btn-warning" style="border: 2px solid green;" type="submit">Edit</button>
</div>
</form>
