<div class="all-border">
  <table class="table table-bordered table-hover">
    <thead style="background-color: blueviolet; color: white;">
      <tr>
        <th>Employee</th>
        <th>{{currentUser.first_name}} {{currentUser.family_name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>employee_code: </td>
        <td>{{currentUser.employee_code}} </td>
      </tr>
      <tr>
        <td>employeement_status: </td>
        <td>{{currentUser.employeement_status}} </td>
      </tr>
      <tr>
        <td>family_name: </td>
        <td>{{currentUser.family_name}} </td>
      </tr>
      <tr>
        <td>family_name_kana: </td>
        <td>{{currentUser.family_name_kana}} </td>
      </tr>
      <tr>
        <td>first_name: </td>
        <td>{{currentUser.first_name}} </td>
      </tr>
      <tr>
        <td>first_name_kana: </td>
        <td>{{currentUser.first_name_kana}} </td>
      </tr>
      <tr>
        <td>birthday: </td>
        <td>{{currentUser.birthday}} </td>
      </tr>
      <tr>
        <td>address: </td>
        <td>{{currentUser.address}}</td>
      </tr>
      <tr>
        <td>area_id: </td>
        <td>{{currentUser.area_id}} </td>
      </tr>
      <tr>
        <td>avatar: </td>
        <td>{{currentUser.avatar}} </td>
      </tr>
      <tr>
        <td>base_salary: </td>
        <td>{{currentUser.base_salary}} </td>
      </tr>
      <tr>
        <td>company_id: </td>
        <td>{{currentUser.company_id}} </td>
      </tr>
      <tr>
        <td>company_section_id: </td>
        <td>{{currentUser.company_section_id}} </td>
      </tr>
      <tr>
        <td>dispach_join_date: </td>
        <td>{{currentUser.dispach_join_date}} </td>
      </tr>
      <tr>
        <td>email: </td>
        <td>{{currentUser.email}} </td>
      </tr>
      <tr>
        <td>gender: </td>
        <td>{{currentUser.gender}} </td>
      </tr>
      <tr>
        <td>join_date: </td>
        <td>{{currentUser.join_date}} </td>
      </tr>
      <tr>
        <td>kengen_group_cd: </td>
        <td>{{currentUser.kengen_group_cd}} </td>
      </tr>
      <tr>
        <td>language: </td>
        <td>{{currentUser.language}} </td>
      </tr>
      <tr>
        <td>leaving_date: </td>
        <td>{{currentUser.leaving_date}} </td>
      </tr>
      <tr>
        <td>level: </td>
        <td>{{currentUser.level}} </td>
      </tr>
      <tr>
        <td>mobile_tel: </td>
        <td>{{currentUser.mobile_tel}} </td>
      </tr>
      <tr>
        <td>password: </td>
        <td>{{currentUser.password}} </td>
      </tr>
    </tbody>
  </table>

</div>
